<div class='fullSearch' *ngIf='showSelect()'>
  <div class='searchAll'>
    <div *ngFor='let view of userViews' class='searchElm'>
      <div class='wrapper'>
        <div>
          <b> Name: </b> {{view.name}}
        </div>
        <button *ngIf='!fieldsVisible(view.id)' (click)='showFields(view.id)' class='hideShowButton'> Show Fields </button>
        <div *ngIf='fieldsVisible(view.id)'>
          <div> <b> Fields:  </b> </div>
          <div *ngFor='let field of view.selectors'>
            {{field}}
          </div>
          <button *ngIf='fieldsVisible(view.id)' (click)='hideFields(view.id)' class='hideShowButton'> Hide Fields </button>
        </div>
      </div>
        <button class='useButton' (click)='useQuickView(view.aggregateId)'> Use </button>
        <button class='useButton' (click)='editQuickView(view.aggregateId)'> Edit </button>
    </div>
  </div>
  <div>
    <button class='logoutButton' (click)='backToMain()'> Back </button>
  </div>
</div>
<hls-quick-view-use *ngIf='useQV && showUse' [jwt]='jwt' [quickViewId]='useQV' (switchBack)=changeView($event) > </hls-quick-view-use>
<hls-quick-view-edit *ngIf='showEdit && !showUse' [jwt]='jwt' [quickViewId]='useQV' (switchBack)=changeView($event) > </hls-quick-view-edit>