$iconHeight: 14px;

:host {
    margin-bottom: 1px;
    cursor: pointer;
    padding: 10px;
    background-color: #fff;
    user-select: none;
    
    div {      
        div {
            span {
                line-height: $iconHeight;
            }
            input {
                line-height: $iconHeight;
                margin-top: 3px;
                margin-bottom: 2px;
            }
            md-icon {
                padding: 2px;
                height: $iconHeight;
                width: $iconHeight;
                font-size: $iconHeight;
            }
        }
    }
}

.compare {
    display: flex;
    justify-content: space-between;
}
.message {
    display: flex;
    justify-content: space-between;
}

div.dnd-drag-start {
    border: 1px dashed black;
}