<div *ngIf='!isMessages && !isCompare' routerLinkActive="active" class='message' [contextMenu]='copyMenu' [contextMenuSubject]='message'>
    <span>Message {{message.id + 1}}</span>
</div>
<div *ngIf="isMessages">
    <div [routerLink]="['/workspace', message.id, keepLastRoute()]" routerLinkActive="active" class='message' [contextMenu]='copyMenu'
        [contextMenuSubject]='message'>
        <span>Message {{message.id + 1}}</span>
        <md-icon *ngIf='messageCount > 1' (click)="removeItem()">clear</md-icon>
    </div>
</div>
<div *ngIf="isCompare" class='compare' [myDraggable]='{data: message.id + 1}'>
    <span>Message {{message.id + 1}}</span>
</div>
<context-menu #copyMenu>
    <ng-template contextMenuItem (execute)='copyValue($event.item)'>
        Copy
    </ng-template>
    <ng-template contextMenuItem (execute)='copyNoPHIValue($event.item)'>
        Copy W/O PHI
    </ng-template>
</context-menu>