$iconHeight: 14px;

:host {
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #fff;
    user-select: none;
    
    div {      
        span {
            line-height: $iconHeight;
            align-self: center;
            margin-left: 10px;
        }
        div {
            span {
                line-height: $iconHeight;
                align-self: center;
                margin-left: 10px;

            }
            input {
                line-height: $iconHeight;
                margin-top: 3px;
                margin-bottom: 2px;
            }
            md-icon {
                padding: 2px;
                height: $iconHeight;
                width: $iconHeight;
                font-size: $iconHeight;
            }
        }
    }
}

.compare {
    display: flex;
    justify-content: space-between;
    user-select: none;
    height: 38px;
}
.message {
    display: flex;
    justify-content: space-between;
    user-select: none;
    height: 38px;
    
}

.active {
    background-color: #7ec0ee;
}

div.dnd-drag-start {
    border: 1px dashed black;
}

div.copyColor {
    background-color: #8BC34A;
}