:host {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    background-color: #fff;

    .active {
        color: #000;
    }

    span {
        color: #aaa;
        margin: 10px;
        cursor: pointer;
        width: 100%;
        text-align: center;
    }
}