<div class='fullLine'>
  <p> {{getSegmentHeader(getCorrectedIndex(segmentIndex))}} </p>
  <div *ngFor='let field of getFields(getCorrectedIndex(segmentIndex)); let fieldIndex = index'>
    <div *ngIf='fieldNoMatchMissing(segmentIndex, fieldIndex)'>
      <p *ngIf='addPipeBeforeCheck(segmentIndex, fieldIndex)'>|{{field.value}}</p>
      <p *ngIf='!addPipeBeforeCheck(segmentIndex, fieldIndex)'>{{field.value}}</p>
    </div>
    <div *ngIf='!fieldNoMatchMissing(segmentIndex, fieldIndex)'>
      <p *ngIf='addPipeBeforeCheck(segmentIndex, fieldIndex)'>|<mark class='missingField'>{{field.value}}</mark></p>
      <p *ngIf='!addPipeBeforeCheck(segmentIndex, fieldIndex)'><mark class='missingField'>{{field.value}}</mark></p>
    </div>
  </div>
</div>