<div class='mainForm'>
    <div class='searchForm'>
        <input [formControl]='searchControl' class='mainSearchInput'>
        <button class='searchButton'> Search  </button>
    </div>
    <div class='addButtons'>
        <button class='addConditionButton' (click)='addCondition()'> Add Condition </button>
        <button class='addConditionButton' (click)='addConditionGroup()'> Add Condition Group </button>
    </div>
    <div class='searchWrapper'>
        <div class='conditionGroupClass' *ngFor='let conditionGroup of getConditionGroups(); let groupIdIndex = index; let lastGroupIndex = last'>
            <div class='border' >
                <input type='radio' [value]='conditionGroup.groupID' (change)='onSelectionChange(conditionGroup.groupID)' [checked]='conditionGroup.groupID==selectedGroup'>
                <div class='singleCondition' *ngFor='let condition of getConditions(conditionGroup.groupID); let conditionIdIndex = index; let lastConditionIndex = last'>
                    <md-icon class='deleteIcon' (click)='deleteSingleCondition(conditionGroup.groupID,condition.conditionID)'>clear</md-icon>
                    <input class='conditionInput' type='text' [value]='getCondition(conditionGroup.groupID,condition.conditionID).leftValue'>
                    <select class='operationDropdown'>
                        <option *ngFor='let operand of conditionOperands' [selected]='operand === getConditionOperand(conditionGroup.groupID, condition.conditionID)'>{{operand}}</option>
                    </select>
                    <input class='conditionInput' type='text' [value]='getCondition(conditionGroup.groupID,condition.conditionID).rightValue'>
                    <div class='betweenCondition'>
                        <select *ngIf='!lastConditionIndex' class='operationDropdown' (change)='updateGroupOperand(conditionGroup.groupID, $event.target.value)'>
                            <option *ngFor='let groupOperand of groupOperands' [selected]='getGroupOperand(conditionGroup.groupID) === groupOperand'>{{groupOperand}}</option>
                        </select>
                        <div *ngIf='lastConditionIndex' class='lastCondition'></div>
                    </div>
                </div>
            </div>
            <div class='betweenGroup' *ngIf='!lastGroupIndex'>
                <select class='groupOptional' (change)='updateSearchOperand($event.target.value)'>
                    <option *ngFor='let searchOperand of searchOperands' [selected]='getSearchOperand() === searchOperand'>{{searchOperand}}</option>
                </select>
            </div>
        </div>
    </div>
</div>