:host {
    background-color: #fff;
    height: 100%;
    width: 100%;
}

div.QuickViewBox {
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 95%;
}

div.loginBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

div.NameLine {
    display: flex;
}

button.addViewButton {
    padding: 5px;
    width: 35%;
    font-size: 17px;
    margin: 5px;
}

button.loginButton {
    padding: 10px;
    font-size: 17px;
    margin: 20px;
}

button.logoutButton {
    margin-top: 10px;
    width: 20%;
}

button.saveButton {
    padding: 5px;
    font-size: 17px;
    margin-top: 10px;
}

span.loginText {
    text-align: center;
}

input {
    width: 35%;
    margin: 5px;
}

div.aroundFields{ 
    border: 1px dashed lightgray;
    height: 80%;
    overflow: auto;
}

h2 {
    margin: 10px;
}
md-icon {
    cursor: pointer;
}

div.eachInput {
    display: flex;
    justify-content: flex-start;
}