<div class='fullSearch' *ngIf='showSelect()'>
  <div class='searchSelect'>
      <select (change)='updateSearchOption($event.target.value)'>
        <option> By Name: </option>
        <option> By User: </option>
      </select>
      <input (keyup)=searchFor($event.target.value)>
  </div>
  <div class='searchAll'>
    <div *ngFor='let view of getCurrentViews()' class='searchElm'>
      <div class='wrapper'>
        <div>
          <b> Name: </b> {{view.name}}
        </div>
        <div>
          <b> Created By: </b> {{getUserName(view)}}
        </div>
        <button *ngIf='!fieldsVisible(view.id)' (click)='showFields(view.id)' class='hideShowButton'> Show Fields </button>
        <div *ngIf='fieldsVisible(view.id)'>
          <div> <b> Fields:  </b> </div>
          <div *ngFor='let field of view.selectors'>
            {{field}}
          </div>
          <button *ngIf='fieldsVisible(view.id)' (click)='hideFields(view.id)' class='hideShowButton'> Hide Fields </button>
        </div>
      </div>
      <button class='useButton' (click)='useQuickView(view.aggregateId)'> Use </button>
    </div>
  </div>
  <div>
    <button class='logoutButton' (click)='backToMain()'> Back </button>
  </div>
</div>
<hls-quick-view-use *ngIf='useQV && showUse' [jwt]='jwt' [quickViewId]='useQV' (switchBack)='changeView($event)' [messages$]='messages$' [currentMessage$]='currentMessage$' > </hls-quick-view-use>