:host {
    background-color: #fff;
    height: 100%;
    width: 100%;
}

div.searchAll {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

div.searchElm {
    flex-direction: row;
    justify-content: space-between;
    border: 1px dashed lightgray;
    margin: 2px;
    display: -webkit-inline-box;

}

div.fullSearch{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 10px;
}

button.logoutButton {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 20%;
}

button.hideShowButton {
    margin-top: 5px;
}

button.useButton{
    align-self: center;
    margin-right: 10px;
}

div.wrapper{
    padding: 5px;
}

div.searchSelect {
    margin: 10px;
}