<hls-menu-toolbar></hls-menu-toolbar>
<input #fileInput *ngIf="isMessages && !fileLoaded && !checkMessageOne()" id="the-file-input" type="file" (change)='fileChanged($event)'>
<button md-raised-button *ngIf="isMessages && !fileLoaded && checkMessageOne()" (click)="addMessage()">Add Message</button>
<button md-raised-button (click)="resetSession()">Reset Session</button>
<button *ngIf='isMessages && !fileLoaded && checkMessageOne() && !copyOption' md-raised-button (click)="copyMessages()">Copy Messages</button>
<div class='copyOption1'>
    <button *ngIf='copyOption && !copyListOption && !copySelectOption' md-raised-button (click)="copyList()">Copy List</button>
    <button class='rightButton' *ngIf='copyOption && !copyListOption && !copySelectOption' md-raised-button (click)="copySelect()">Select</button>
    <button *ngIf='copyListOption' md-raised-button (click)="allFullCopy()">Full</button>
    <button class='rightButton' *ngIf='copyListOption' md-raised-button (click)="allPHICopy()">W/O PHI</button>
    <button *ngIf='copySelectOption && !highlightFullCopy && !higlightSelectCopy' md-raised-button (click)="selectFullCopy()">Full</button>
    <button class='rightButton' *ngIf='copySelectOption && !higlightSelectCopy && !highlightFullCopy' md-raised-button (click)="selectPHICopy()">W/O PHI</button>
    <button *ngIf='finish()' md-raised-button (click)="finishCopy()">Finish Copy</button>
</div>

<div *ngIf='isSorted()' class='filter'> Results For: "{{searchFilter.get(0).searchTerm}}"
    <md-icon (click)='removeFilter()'>clear</md-icon>
</div>
<div *ngIf='!fileLoaded' class='container'>
    <hls-menu-item *ngFor="let message of formattedMessages" [messages$]='messages$' [mode$]='mode$' [message]="message" [highlightFullCopy]='highlightFullCopy' [higlightSelectCopy]='higlightSelectCopy' [finished]='finished'
    [copyList]='selectCopy'></hls-menu-item>
</div>
<div class='messageNum' *ngIf='fileLoaded'>
    Number of messages: <br> {{messagesSize}}
</div>