<hls-menu-toolbar></hls-menu-toolbar>
<input #fileInput *ngIf="isMessages && !fileLoaded && messagesSize === 1" id="the-file-input" type="file" (change)='fileChanged($event)'>
<hls-add-message [isMessages]='isMessages' [fileLoaded]='fileLoaded' [messagesSize]='messagesSize'></hls-add-message>
<button md-raised-button (click)="resetSession()">Reset Session</button>
<button *ngIf='isMessages && !fileLoaded && messagesSize > 1 && !copyOption' md-raised-button (click)="copyMessages()">Copy Messages</button>
<div class='copyOption1'>
    <button *ngIf='copyOption && !copyListOption && !copySelectOption' md-raised-button (click)="copyList()">Copy List</button>
    <button class='rightButton' *ngIf='copyOption && !copyListOption && !copySelectOption' md-raised-button (click)="copySelect()">Select</button>
    <button *ngIf='copyListOption' md-raised-button (click)="allFullCopy()">Full</button>
    <button class='rightButton' *ngIf='copyListOption' md-raised-button (click)="allPHICopy()">W/O PHI</button>
    <button *ngIf='copySelectOption' md-raised-button (click)="selectFullCopy()">Full</button>
    <button class='rightButton' *ngIf='copySelectOption' md-raised-button (click)="selectPHICopy()">W/O PHI</button>
</div>

<div *ngIf='isSorted()' class='filter'> Results For: "{{searchFilter.get(0).searchTerm}}"
    <md-icon (click)='removeFilter()'>clear</md-icon>
</div>
<div *ngIf='!fileLoaded' class='container'>
    <hls-menu-item *ngFor="let message of formattedMessages" [messages$]='messages$' [mode$]='mode$' [message]="message"></hls-menu-item>
</div>
<div class='messageNum' *ngIf='fileLoaded'>
    Number of messages: <br> {{messagesSize}}
</div>